/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack */
/* Coolors Exported Palette - coolors.co/232323-bed7ec-8bfabb-8cfa89-80b56d */
/*
$color1: #232323; //rgba(35, 35, 35, 100)
$color2: #bed7ec; //rgba(190, 215, 236, 100)
$color3: #8bfabb; //rgba(139, 250, 187, 100)
$color4: #8cfa89; //rgba(140, 250, 137, 100)
$color5: #80b56d; //rgba(128, 181, 109, 100)
*/
* {
  -moz-box-sizing: border-box;
  /* Firexfox */

  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */

  box-sizing: border-box;
  /* IE */
}
/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #EFEFEF;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #121212;
}

#container {
  position: absolute;
  width:100%;
  height:100%;
  overflow-y:scroll;
}
