<nav class="navbar navbar-default navbar-fixed-top docs-nav">

  <div class="container-fluid">

  <div class="row">

  <div class="wheel-div col-sm-2">
    <%= link_to 'http://www.astrology-api.com/' do %>
    <%= image_tag("wheel.jpg", :alt => "rss feed", class: "docs-wheel") %>
</div>
  

  <div class="title-div col-sm-4">

    <h4>The Astrology API</h4>

<% end %>

</div><!-- end of title-div -->
</div><!-- end of row div -->
  </div><!-- end of nav container div -->
  
</nav>

<div class="container">
  <div class="row">


  
</div>
</div><!-- end of container div -->
