<nav class="navbar navbar-default navbar-fixed-top docs-nav">
  <div class="container">
    <%= image_tag("wheel.jpg", :alt => "rss feed", class: "docs-wheel") %>
  </div>
  <div>
        <h4>The Astrology API</h4>
    
      </div>
</nav>
