<nav class="navbar navbar-default navbar-fixed-top docs-nav">

  <div class="container-fluid">

    <div class="row">

      <div class="wheel-div col-sm-2">
        <%= link_to 'http://www.astrology-api.com/' do %>
        <%= image_tag("wheel.jpg", :alt => "rss feed", class: "docs-wheel") %>
      </div>


      <div class="title-div col-sm-4">

        <h4 class="docs-h4">The Astrology API</h4>

        <% end %>

      </div><!-- end of title-div -->
    
 
  
</nav>
</div><!-- end of row div -->
</div><!-- end of row div -->

</div><!-- end of container div -->

<br><br><br><br><br>

<div class="container">
<div class="row">
  <div class="docs-title col-sm-offset-2 col-sm-7">
  <h3 class="docs-h3">v1 Astrology API</h3>



    </div>
</div><!-- end of row div -->
</div><!-- end of container div -->
