<body>

  <div class="container"><!-- start of grid container -->

    <div class="row"><!-- start of navbar row -->
     <nav class="navbar navbar-default">
          <a class="navbar-brand" href="#">
         <%= image_tag("wheel.jpg", :alt => "rss feed", class: 'wheel') %>
          The Astrology API</a>
     </nav>
    </div><!-- end of navbar row -->

    <div class="row"><!-- start of about box row -->
      <div class="about-box">
        <p>This is the box I will be writing about my API</p>
        <p>This is the box I will be writing about my API</p>
        <p>This is the box I will be writing about my API</p>

        <p>This is the box I will be writing about my API</p>

        <p>This is the box I will be writing about my API</p>


      </div>
    </div><!-- end of about box row -->
  </div><!-- end of grid container -->
  <a href="http://www.astrology-api.com/api/signs">Go to all signs API</a>

</body>
