.docs-nav {
  background-color: black;
}

.docs-wheel {
  height: 40px;
  border-radius: 30px;
  margin-top: 2%;

}

.docs-h4 {
  color: white;
  font-size: 22px;
}

.docs-h3 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 4%;
}

.docs-title {
    border-bottom: 1px solid #eeeeee;
}

.docsBody {
  background-color: blue;
}