.about-box {
  border: 3px solid red;
}

.wheel {
  height: 50px;
  float: left;
  margin-top: .5%;
  
}

.navbar {
  margin-top: 5%;
  background-color: black;

}

h3 {
  padding-left: 10%;
  color: white;
  padding-bottom: .5%;
}

a:hover {
    text-decoration: none;
}
