.about-box {

  border-radius: 10px;
  background-color: #82CAFF;
  padding: 2% 2% 3% 3%; 
  margin-bottom: 3%;

}

.wheel {
  height: 60px;
  margin-top: 10%;
  margin-bottom: 9%;
  border-radius: 30px;
}

.soon-div {
  float: right;
  margin-top: 20px;
}

h4 {
  color: white;
}
.welcome-nav {
  margin-top: 5%;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 5%;
  border: transparent;

}

h3 {
  color: white;
  font-size: 30px;

}

a:hover {
    text-decoration: none;
}

.docs-div {
   margin-top: 30px;
   color: white; 
}

h1 {
  color:  #2B1B17;
  padding-bottom: 3%;
  margin-left: 1.5%;

}

p {
  font-size: 20px;
}

.my-name {
  color: white;
}

.simple-code {
  padding: 3% 0 3% 0;
  background-color: transparent;
}

.divider1 {
  font-size: 20px;
  color: white;
}

.divider2 {
  font-size: 20px;
  color: white;
  padding-bottom: 8%;
}

.Astro-map {
  height: 320px;
  width: 280px;
  border-radius: 10px;
}

.simple-p {
  color: white;
}

.footer-text {
  font-size: 15px;
  margin-bottom: 5%;

}

.welcome-body {
   background: image-url('Astro-map.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer-font {
  color: white;
}