.about-box {
  border: 3px solid red;
}

.wheel {
  height: 60px;
  margin-top: 10%;
}

.soon-div {
  color: red;
  float: right;

}

.navbar {
  margin-top: 5%;
  background-color: black;

}

h3 {
  color: white;
  font-size: 30px;
}

a:hover {
    text-decoration: none;
}

.docs-div {
   margin-top: 10px;
}



