<!DOCTYPE html>
<html>
<head>
  <title>Astroapi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<h1>Even this doesnt work</h1>
</body>
</html>
